h1{
    text-align: center;
}

img{
    width: 300px;
    display: block;
    margin: auto;
}

.Fire {
    background-color: red;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
}

.Water {
    background-color: aqua;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
}

.Grass {
    background-color: green;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
}

#footer{
    left: 0;
    bottom: 0;
    padding: 10px;
}

#header{
    left: 0;
    top: 0;
    padding: 10px;
}

#center{
  
  position: fixed;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  border: 5px solid;
  padding: 10px;
  text-align: center;
  
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}